   ------
   Kurento Android SIP User Agent Test Plan
   ------
   ------
   Date
   ------

User Agent Test Plan

  	[<<Conventions>>]
	
		[<Automation>] Each test indicates if an automated procedure is in place.
		               Automated tests are JUnit based.
		  
		[<Pass criteria>] Pass criteria will provide a set of conditions to be 
	                      verified in order to declare the test passed. False 
	                      conditions will cause the test to be set as NOT PASSED.

	[<<Test list>>]
	
		* {{Register and Unregister}}
		
		* {{Register Time Out}}
		
		* {{Call setup and drop from caller}}
		
		* {{Call setup and drop from callee}}
		
		* {{Cancel Call}}
		
		* {{Reject Call}}
		
		* {{Dials from 2 callers}}
		
		

* {Register and Unregister}

	User Agent (UA) must provide EndPoint registration.
	When the EndPoint (URI manager) is terminated, the contact
	must be automatically removed.
	
 	[<<Test Procedure>>]

		[<Step 1>] Request the UA to register a contact for a given URI.

		[<Step 2>] Terminate the EndPoint. This will cause
					the EndPoint to automatically unregister the URI

		[<Step 3>] Terminate again the EndPoint. No further
					unregister request are sent.

		[<Step 4>] Terminate the User Agent. No further
					unregister request are sent for the last unregistered EndPoint.

	    <<Automated by>> <<<com.kurento.ua.commons.junit.RegisterAndUnregisterTest#testRegisterAndUnregister>>>      

	[]
	
+-----------------
 1 - clientUA.registerEndpoint() >>> C:--- REGISTER REQUEST ----->:S
         REGISTER_USER_SUCESSFUL <<< C:<---------- REGISTER OK ---:S
 2 -  clientEndPoint.terminate() >>> C:--- UNREGISTER REQUEST --->:S
       UNREGISTER_USER_SUCESSFUL <<< C:<-------- UNREGISTER OK ---:S
 3 -  clientEndPoint.terminate() >>> C: Verify no UNREGISTER REQUEST is sent (EP is already unregistered)
 4 -        clientUA.terminate() >>> C: Verify no UNREGISTER REQUEST is sent (EP is already unregistered)
+-----------------

 	[<<Pass Criteria>>]

		[[1]] Verify in <Step 1> a REGISTER_USER_SUCESSFUL event is received.

		[[2]] Verify in <Step 2> a UNREGISTER_USER_SUCESSFUL event is received.

		[[3]] Verify in <Step 3> the EndPoint is not sending any UNREGISTER request

		[[4]] Verify in <Step 4> the EndPoint is not sending any UNREGISTER request




* {Register Time Out}

	User Agent (UA) must provide EndPoint registration.
	If the registration is no successful because the server does not respond
	after a time, a REGISTER_USER_FAIL event must be sent.
	
 	[<<Test Procedure>>]

		[<Step 1>] Request the UA to register a contact for a given URI in an unaccessible server.

	    <<Automated by>> <<<com.kurento.ua.commons.junit.RegisterTimeOutTest#testRegisterTimeOut>>>      

	[]
	
+-----------------
 1 - clientUA.registerEndpoint() >>> C:--- REGISTER REQUEST --->:S
              REGISTER_USER_FAIL <<< C:<--- REGISTER TIMEOUT
+-----------------

 	[<<Pass Criteria>>]

		[[1]] Verify in <Step 1> a REGISTER_USER_FAIL event is received.




* {Call setup and drop from caller}

	EndPoint must be able to set up an tear down a call with a remote peer.

	[<<Test Procedure>>]

		[<Step 1>] Client EndPoint dials to the server EndPoint.

		[<Step 2>] Server EndPoint accepts call received from client EndPoint.

		[<Step 3>] Client EndPoint hangs up the call.

	    <<Automated by>> <<<com.kurento.ua.commons.junit.DialTest#testCallSetupAndDropFromCaller>>>      

	[]
	
+-----------------
 1 -  clientEndPoint.dial() >>> C:--- DIAL REQUEST ------------->:S >>> INCOMING_CALL
               CALL_RINGING <<< C:<----- DIAL REQUEST ARRIVED ---:S
 2 -             CALL_SETUP <<< C:<-------------- ACCEPT CALL ---:S <<< serverCall.accept()
                                C:--- ACCEPT CALL ARRIVED ------>:S >>> CALL_SETUP
 3 - clientCall.terminate() >>> C:--- TERMINATE CALL REQUEST --->:S >>> CALL_TERMINATE
             CALL_TERMINATE <<< C:<-------- TERMINATE CALL OK ---:S
+-----------------

 	[<<Pass Criteria>>]

		[[1]] Verify in <Step 1>:
		
			[[a]] Server EndPoint receives a INCOMING_CALL event.
			
			[[b]] Client EndPoint receives a CALL_RINGING event.

		[[2]] Verify in <Step 2>:
		
			[[a]] Client EndPoint receives a CALL_SETUP event.
			
			[[b]] Server EndPoint receives a CALL_SETUP event.

		[[3]] Verify in <Step 3>:
		
			[[a]] Server EndPoint receives a CALL_TERMINATE event.
			
			[[b]] Client EndPoint receives a CALL_TERMINATE event.




* {Call setup and drop from callee}

	EndPoint must be able to set up an tear down a call with a remote peer.

	[<<Test Procedure>>]

		[<Step 1>] Client EndPoint dials to the server EndPoint.

		[<Step 2>] Server EndPoint accepts call received from client EndPoint.

		[<Step 3>] Server EndPoint hangs up the call.

	    <<Automated by>> <<<com.kurento.ua.commons.junit.DialTest#testCallSetupAndDropFromCallee>>>      

	[]
	
+-----------------
 1 -  clientEndPoint.dial() >>> C:--- DIAL REQUEST ------------->:S >>> INCOMING_CALL
               CALL_RINGING <<< C:<----- DIAL REQUEST ARRIVED ---:S
 2 -             CALL_SETUP <<< C:<-------------- ACCEPT CALL ---:S <<< serverCall.accept()
                                C:--- ACCEPT CALL ARRIVED ------>:S >>> CALL_SETUP
 3 -         CALL_TERMINATE <<< C:<--- TERMINATE CALL REQUEST ---:S <<< serverCall.terminate()
                                C:--- TERMINATE CALL OK--------->:S >>> CALL_TERMINATE
+-----------------

 	[<<Pass Criteria>>]

		[[1]] Verify in <Step 1>:
		
			[[a]] Server EndPoint receives a INCOMING_CALL event.
			
			[[b]] Client EndPoint receives a CALL_RINGING event.

		[[2]] Verify in <Step 2>:
		
			[[a]] Client EndPoint receives a CALL_SETUP event.
			
			[[b]] Server EndPoint receives a CALL_SETUP event.

		[[3]] Verify in <Step 3>:
		
			[[a]] Client EndPoint receives a CALL_TERMINATE event.
			
			[[b]] Server EndPoint receives a CALL_TERMINATE event.




* {Cancel Call}

	EndPoint must be able to dial other peer and cancel it before the other peer accepts the call.

	[<<Test Procedure>>]

		[<Step 1>] Client EndPoint dials to the server EndPoint.

		[<Step 2>] Client EndPoint cancels the call.

	    <<Automated by>> <<<com.kurento.ua.commons.junit.DialTest#testCancelCall>>>

	[]
	
+-----------------
 1 -  clientEndPoint.dial() >>> C:--- DIAL REQUEST ------------->:S >>> INCOMING_CALL
               CALL_RINGING <<< C:<----- DIAL REQUEST ARRIVED ---:S
 2 - clientCall.terminate() >>> C:--- CANCEL CALL -------------->:S >>> CALL_CANCEL
                CALL_CANCEL <<< C:<----------- CANCEL CALL OK ---:S
+-----------------

 	[<<Pass Criteria>>]

		[[1]] Verify in <Step 1>:
		
			[[a]] Server EndPoint receives a INCOMING_CALL event.
			
			[[b]] Client EndPoint receives a CALL_RINGING event.

		[[2]] Verify in <Step 2>:
		
			[[a]] Server EndPoint receives a CALL_CANCEL event.
			
			[[b]] Client EndPoint receives a CALL_CANCEL event.




* {Reject Call}

	EndPoint must be able to reject a incoming call from other peer.

	[<<Test Procedure>>]

		[<Step 1>] Client EndPoint dials to the server EndPoint.

		[<Step 2>] Server EndPoint rejects the call.

	    <<Automated by>> <<<com.kurento.ua.commons.junit.DialTest#testRejectCall>>>

	[]
	
+-----------------
 1 -  clientEndPoint.dial() >>> C:--- DIAL REQUEST ------------->:S >>> INCOMING_CALL
               CALL_RINGING <<< C:<----- DIAL REQUEST ARRIVED ---:S
 2 -            CALL_REJECT <<< C:<-------------- REJECT CALL ---:S <<< serverCall.terminate()
                                C:--- REJECT CALL OK------------>:S >>> CALL_REJECT
+-----------------

 	[<<Pass Criteria>>]

		[[1]] Verify in <Step 1>:
		
			[[a]] Server EndPoint receives a INCOMING_CALL event.
			
			[[b]] Client EndPoint receives a CALL_RINGING event.

		[[2]] Verify in <Step 2>:
		
			[[a]] Client EndPoint receives a CALL_REJECT event.
			
			[[b]] Server EndPoint receives a CALL_REJECT event.




* {Dials from 2 callers}

	EndPoint must be able to receive simultaneously 2 or more dials.

	[<<Test Procedure>>]

		[<Step 1>] Client EndPoint 1 dials to the server EndPoint.
		
		[<Step 2>] Client EndPoint 2 dials to the server EndPoint.

		[<Step 3>] Server EndPoint rejects the call of the Client EndPoint 1.
		
		[<Step 4>] Server EndPoint rejects the call of the Client EndPoint 2.

	    <<Automated by>> <<<com.kurento.ua.commons.junit.DialTest#testRejectCall>>>

	[]
	
+-----------------
 1 -  clientEndPoint1.dial() >>> C1:--- DIAL REQUEST ------------->:S >>> INCOMING_CALL
                CALL_RINGING <<< C1:<----- DIAL REQUEST ARRIVED ---:S
 2 -  clientEndPoint2.dial() >>> C2:--- DIAL REQUEST ------------->:S >>> INCOMING_CALL
                CALL_RINGING <<< C2:<----- DIAL REQUEST ARRIVED ---:S
 3 -             CALL_REJECT <<< C1:<-------------- REJECT CALL ---:S <<< serverCall1.terminate()
                                 C1:--- REJECT CALL OK------------>:S >>> CALL_REJECT
 4 -             CALL_REJECT <<< C2:<-------------- REJECT CALL ---:S <<< serverCall2.terminate()
                                 C2:--- REJECT CALL OK------------>:S >>> CALL_REJECT
+-----------------

 	[<<Pass Criteria>>]

		[[1]] Verify in <Step 1>:
		
			[[a]] Server EndPoint receives a INCOMING_CALL event.
			
			[[b]] Client EndPoint 1 receives a CALL_RINGING event.

		[[2]] Verify in <Step 2>:
		
			[[a]] Server EndPoint receives a INCOMING_CALL event.
			
			[[b]] Client EndPoint 2 receives a CALL_RINGING event.
			
		[[3]] Verify in <Step 3>:
		
			[[a]] Client EndPoint receives a CALL_REJECT event.
			
			[[b]] Server EndPoint 1 receives a CALL_REJECT event.

		[[4]] Verify in <Step 4>:
		
			[[a]] Client EndPoint receives a CALL_REJECT event.
			
			[[b]] Server EndPoint 2 receives a CALL_REJECT event.

